
{% include 'search_engine/nav.html' %}

<body class="vh-100">
  <form action="{% url 'results' %}" method="GET" class="">
    <div class="container-fluid d-flex h-100 align-items-start gap-1 justify-content-around">
      <div class="p-3">
        <select class="form-select p-3 w-100" aria-label="Search selection" onchange="selectChange()" name="searchtype" id="searchtype">
          <option selected value="journal_entry">Journal Entry&emsp;</option>
          <option value="journal">Journal</option>
          <option value="author">Author</option>
          <option value="sketch">Sketch</option>
        </select>
      </div>
      <div class="flex-grow-1 p-3">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="filterbox">
                Search By: 
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body p-0">
                <ul class="list-group">
                  <li class="list-group-item" id="journal_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="journal" id="journal" name="filter" onclick="boxFunction('journal')">
                      <label class="form-check-label" for="journal">
                      Journal
                      </label>
                      <input type="text" name="journal" id="journal-text" class="form-control w-50" placeholder="Journal" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="name_li" style="display: none;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="name" id="name" name="filter" onclick="boxFunction('name')">
                      <label class="form-check-label" for="name">
                      Name
                      </label>
                      <input type="text" name="name" id="name-text" class="form-control w-50" placeholder="Name" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="title_li" style="display: none;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="title" id="title" name="filter" onclick="boxFunction('title')">
                      <label class="form-check-label" for="title">
                      Title
                      </label>
                      <input type="text" name="title" id="title-text" class="form-control w-50" placeholder="Title" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="author_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="author" id="author" name="filter" onclick="boxFunction('author')">
                      <label class="form-check-label" for="author">
                      Author
                      </label>
                      <input type="text" name="author" id="author-text" class="form-control w-50" placeholder="Author" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="century_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="century" id="century" name="filter" onclick="boxFunction('century')">
                      <label class="form-check-label" for="century">
                      Century
                      </label>
                      <input type="number" name="century" id="century-text" class="form-control w-50" min="1" max="21" placeholder="00" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="year_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="year" id="year" name="filter" onclick="boxFunction('year')">
                      <label class="form-check-label" for="year">
                      Year
                      </label>
                      <input type="numer" name="year" id="year-text" class="form-control w-50" min="0" max="2000" placeholder="0000" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="month_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="month" id="month" name="filter" onclick="boxFunction('month')">
                      <label class="form-check-label" for="month">
                      Month
                      </label>
                      <select id="month-text" name="month" class="form-select w-50" disabled>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                    </div>
                  </li>
                  <li class="list-group-item" id="numEntries_li" style="display: none;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="numEntries" id="numEntries" name="filter" onclick="boxFunction('numEntries')">
                      <label class="form-check-label" for="numEntries">
                      Number of Entries
                      </label>
                      <input type="number" name="numEntries" id="numEntries-text" class="form-control w-50" placeholder="0" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="site_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="site" id="site" name="filter" onclick="boxFunction('site')">
                      <label class="form-check-label" for="site">
                      Site
                      </label>
                      <input type="text" name="site" id="site-text" class="form-control w-50" placeholder="Site" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="country_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="country" id="country" name="filter" onclick="boxFunction('country')">
                      <label class="form-check-label" for="country">
                      Country
                      </label>
                      <input type="text" name="country" id="country-text" class="form-control w-50" placeholder="Country" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="origincountry_li" style="display: none;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="origincountry" id="origincountry" name="filter" onclick="boxFunction('origincountry')">
                      <label class="form-check-label" for="origincountry">
                      Origin country
                      </label>
                      <input type="text" name="origincountry" id="origincountry-text" class="form-control w-50" placeholder="Origin Country" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="visitedcountry_li" style="display: none;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="visitedcountry" id="visitedcountry" name="filter" onclick="boxFunction('visitedcountry')">
                      <label class="form-check-label" for="visitedcountry">
                      Country Visited
                      </label>
                      <input type="text" name="visitedcountry" id="visitedcountry-text" class="form-control w-50" placeholder="Country Visited" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="sketch_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="sketch" id="sketch" name="filter" onclick="boxFunction('sketch')">
                      <label class="form-check-label" for="sketch">
                      Sketch
                      </label>
                      <input type="text" name="sketch" id="sketch-text" class="form-control w-50" placeholder="Sketch" disabled>
                    </div>
                  </li>
                  <li class="list-group-item" id="date_li">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="date" id="date" name="filter" onclick="boxFunction('date')">
                      <label class="form-check-label" for="date">
                      Date
                      </label>
                      <input type="date" name="date" id="date-text" class="form-control w-50" disabled>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <button class="btn btn-light btn-outline-secondary p-3" type="submit">Search</button>
      </div>
    </div>
  </form>
</body>

<script>
  function boxFunction(id) {
  // Get the checkbox
  let checkBox = document.getElementById(id);
  // Get the output text
  let inputBox = document.getElementById(id + "-text");

  let filterbox = document.getElementById("filterbox");

  console.log(filterbox)


  // If the checkbox is checked, display the output text
  if (checkBox.checked === true){
    inputBox.disabled = false
    filterbox.textContent += id + ", ";

  } else {
    inputBox.disabled = true;
    filterbox.textContent = filterbox.textContent.replace(id + ", ", "")
    if(id != "month")
      inputBox.value = "";
  }
}

  function selectChange() {
    let searchtype = document.getElementById("searchtype");
    let value = searchtype.value;
    let checkboxes = document.getElementsByName('filter');

    let filterbox = document.getElementById("filterbox");
    filterbox.textContent = "Search By: "

    for (const checkbox of checkboxes) {
      checkbox.checked = false;
      document.getElementById(checkbox.id + "-text").disabled = true;
    }

    list_elements = document.getElementsByTagName('li');
    
    if(value === "journal") {
      for (const e of list_elements) {
        if(e.id === "journal_li" || e.id === "name_li" || e.id === "site_li" || e.id === "origincountry_li" || e.id === "visitedcountry_li" || e.id === "sketch_li" || e.id === "date_li") {
          e.style.display = 'none';
        }
        else e.style.display = 'block';
      }
    }

    else if( value === "journal_entry") {
      for (const e of list_elements) {
        if(e.id === "name_li" || e.id === "numEntries_li" || e.id === "origincountry_li" || e.id === "visitedcountry_li" || e.id === "title_li") {
          e.style.display = 'none';
        }
        else e.style.display = 'block';
      }
    }

    else if(value === "author") {
      for (const e of list_elements) {
        if(e.id === "title_li" || e.id === "author_li" || e.id === "century_li" || e.id === "year_li" || e.id === "month_li" || e.id === "date_li" || e.id === "numEntries_li" || e.id === "country_li" || e.id === "sketch_li") {
          e.style.display = 'none';
        }
        else e.style.display = 'block';
      }
    }

    else {
      for (const e of list_elements) {
        if(e.id === "name_li" || e.id === "numEntries_li" || e.id === "origincountry_li" || e.id === "visitedcountry_li" || e.id ==="title_li") {
          e.style.display = 'none';
        }
        else e.style.display = 'block';
      }
  }
}
</script>
